
body {
  background-color: rgb(255, 255, 255);
  line-height: 30px;
  bottom: -40px;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 0.5px; 
  text-transform: uppercase;
  color: rgb(61, 61, 61);
}

.container {
  height: 100%;
  width: 1000px;
  display: block;
}

.panel1 {
  width: 1000px;
  height: 300px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.lines .line1,
.lines .line2,
.lines .line3,
.lines .line4 {
  position: absolute;
  background-color: rgba(212, 120, 92, 0.5);
  width: 1000px;
  height: 1px;
}

.lines .line1 {
  top: 0px;
}

.lines .line2 {
  top: 115px;
}

.lines .line3 {
  top: 125px;
}

.lines .line4 {
  top: 241px;
}

